* {
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transform-style: preserve-3d;
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.container {
  transform-style: preserve-3d;
  padding: 75px;
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 680px;
}
.card {
  transform-style: preserve-3d;
  /* min-height: 80vh; */
  width: 35vh;
  height: 70vh;
  border-radius: 30px;
  padding: 1.5vh 5vh;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  transform-style: preserve-3d;
  padding-top: 20px;
  min-height: 32vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.sneaker img {
  transform-style: preserve-3d;
  width: 25vh;
  z-index: 2;
  transition: all 0.75s ease-out;
  border-radius: 10%;
}

.info h1 {
  transform-style: preserve-3d;
  font-size: 3vh;
  transition: all 0.75s ease-out;
  text-align: center;
}
.info h3 {
  transform-style: preserve-3d;
  font-size: 1.3vh;
  padding: 2vh 0vh;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.purchase {
  transform-style: preserve-3d;
  margin-top: 2vh;
  transition: all 0.75s ease-out;
}
.purchase button {
  transform-style: preserve-3d;
  width: 100%;
  padding: 1vh 0vh;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

p {
  transform-style: preserve-3d;
  font-size: 2vh;
}
